.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #006cbe;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mb2{
  margin-bottom: 1rem;
 }

.page-container {
  background-color: #006cbe;
  padding: 2% 5%;
  width: 100%;
}

.input-style {
  width: 80%;
  background: #2368bb;
  border-radius: 8px;
  border: 2px solid #628bc9;
  color: #edf2f9;
  padding: 25px;
  font-size: 20px;
  font-weight: 800;
}

.input-style:focus {
  outline: none
}

.search-btn {
  height: 75px;
  margin-left: 5px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background: #2368bb;
  border: 2px solid #628bc9;
  color: #edf2f9;
  font-size: 20px;
  font-weight: 800;
  cursor: ponter;
}

.cardContainer {
  background: #fff;
  width: 200px;
  height: 100%;
  border-radius: 7px;
  color: #494949;
  font-size: 20px;
  font-weight: 800;
  margin: auto;

}

.img-container{
  margin: auto;
  width: 100%;
  height: 300px;
  border-radius: inherit;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.title-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: -webkit-fill-available;
  margin-top: 13px;
}

.loadmore-btn{
  border: 0px;
  padding: 20px 100px;
  outline: 0px;
  border-radius: 12px;
  color: white;
  font-size: 20px;
  font-weight: 800;
  background: #ffb05a;
  cursor: pointer;
}

.url-loader{
  padding: 0px 20px;
  text-align: left;
  font-size: 14px;
}

.url-loader .label{
  color: #a3bee0;
} 

.url-loader .text {
  color: #deeaf6;
  margin-left: 5px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}

.col-md-4 {
  grid-column: span 4;
}

@media screen and (max-width: 480px) {
  .col-md-4 {
    grid-column: span 12;
  }
}
/* 
@media (min-width: 992px) {
  .col-md-4 {
    grid-column: span 4;
  }
} */

